.title-container {
  display: flex;
  justify-content: space-between;
  > :nth-child(odd) {
    padding-bottom: 20px;
  }
  > :nth-child(even) {
    padding-bottom: 32px;
  }
  .title {
    font-weight: bold;
    font-size: 20px;
    color: #201f24;
  }
  .link-to--service {
    color: #696868;
    &-vector {
      margin-left: 16px;
    }
  }
}
.title-container {
  display: flex;
  justify-content: space-between;

  .title {
    font-weight: bold;
    font-size: 20px;
    color: #201f24;
  }
  .link-to--service {
    color: #696868;
  }
}
