.home {
  background: #f8f4f0;
  //height: 100svh;
  .container {
    min-width: 343px;
    padding: 0 16px 0 16px;
  }
}
@media (min-width: 768px) {
  .home {
    .container {
      min-width: 688px;
      padding: 0 40px 0 40px;
    }
  }
}
@media (min-width: 1440px) {
  .home {
    display: flex;
    flex-direction: row-reverse;
    .container {
      display: flex;
      flex: 1;
      flex-direction: column;
      min-width: 688px;
      padding: 0 40px 0 40px;
    }
  }
}
