.home-main {
  display: flex;
  flex-direction: column;
}

.home-main > *:not(:last-child) {
  margin-bottom: 16px;
}

.home-main > *:nth-child(even):not(:last-child) {
  margin-bottom: 24px;
}

@media (min-width: 1440px) {
  .home-main > *:not(:last-child) {
    margin-bottom: 0px;
  }

  .home-main > *:nth-child(even):not(:last-child) {
    margin-bottom: 0px;
  }
  .home-main {
    display: grid;
    align-items: stretch;
    grid-template-areas: "pots budgets"; /* Задаем области */
    gap: 24px; /* отступы между элементами */
    margin: 0;
  }
  .home-main > * {
    height: auto; /* Элементы будут иметь высоту, равную содержимому */
  }
  .pots {
    height: auto;
    display: inline;
    grid-area: pots; /* Назначаем область для этого элемента */
  }

  .budgets {
    grid-area: budgets; /* Назначаем область для этого элемента */
  }
}
