.home-main {
  display: flex;
  flex-direction: column;
}

.home-main > *:not(:last-child) {
  margin-bottom: 16px;
}

.home-main > *:nth-child(even):not(:last-child) {
  margin-bottom: 24px;
}

@media (min-width: 1440px) {
  .home-main > *:not(:last-child) {
    margin-bottom: 0;
  }

  .home-main > *:nth-child(even):not(:last-child) {
    margin-bottom: 0;
  }
  .home-main {
    display: grid;
    grid-template-areas: "pots budgets";
    grid-template-rows: masonry;
    gap: 24px;
    grid-auto-flow: dense;
    margin: 0;
  }

  .pots {
    grid-area: pots;
  }

  .budgets {
    grid-area: budgets;
  }
  .pots {
    grid-row: span 1;
  }
  .home-transactions {
    grid-row: span 2;
  }
}
